.headerPublic{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #ecf0f1;
  height: 80px;

  .app{
    display: flex;
    align-items: center;

    .appLogo{
      width: 50px;
      margin-right: 5px;
    }
  
    .appText{
      color: #04558B;
      font-family: 'Strait', sans-serif;
    }
  }

  .login{
    padding: 0.5em;
    text-align: center;
    font-family: 'Strait', sans-serif;
    color: #04558B;
    border-radius: 1rem;
    border: 2px solid #f1c40f;
    font-weight: bold;
    background-color: #00000006;
  }

  .paginas-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .paginas{
      width: 30%;
      font-size: 1.3rem;
      font-family: 'Strait', sans-serif;
      color: #04558B;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #3498db;

      &:hover{
        color: #004e83;
        border-bottom: 1px solid #004e83;
      }
    }
  }

}

.banner{
  padding: 1em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .appLogo{
    width: 120px;
  }

  .dashPhoto{
    max-width: 55em;
    width: 90%;
  }
  
  &::after{
    content: "";
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-image: linear-gradient(#ecf0f1, #3498db);
  }

  .nombreApp{
    font-size: 3.5rem;
    margin: 0.5rem;
    color: #04558B;
    font-weight: bold;

    @media only screen and (max-width: 600px){
      font-size: 3rem;
    }
  
  }

  .subtitulo{
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .buttonPublic{
    font-size: 1.2rem;
    text-align: center;
  }
}

.footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 600px){
    grid-template-columns: auto;
    grid-row: auto;
  }

  .subtitulo{
    height: 50px;
    font-size: 1.5rem;
    color: #ecf0f1;
    margin: 1rem;
    text-align: center;
  }

  .foot-item{
    padding-top: 1.5rem;
    background-image: linear-gradient(#59a5d8, #0082d8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-libreta{
      border-right: 1px solid white;

      @media only screen and (max-width: 600px){
        border-right: none;
        border-bottom: 1px solid white;
      }

      .imagen{
        max-width: 23em;
        width: 90%;
        border-radius: 10px;
      }
    }

    &-tareas{
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      border-bottom: 1px solid white;

      @media only screen and (max-width: 600px){
        grid-row: auto;
        grid-column: auto;
      }

      .imagen{
        max-width: 35em;
        width: 90%;
        border-radius: 10px;
      }
    }

    &-calculadora{
      border-left: 1px solid white;

      @media only screen and (max-width: 600px){
        border-left: none;
      }

      .imagen{
        max-width: 18em;
        width: 70%;
        border-radius: 10px;
      }
    }
  }
}

.centrado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .headerPublic{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

  .paginas-container{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}