$bgcolor: #bdc3c7;
$bgcolor-table: white;
$lineColor: #f1c40f;
$color-title: #04558B;
$bg-rowPar: #ecf0f1;
$bg-rowImpar: white;
$color-text: #7f8c8d;
$grid-proporcion: 2fr 1fr 1.2fr;

@import "table/table.scss";
@import "button/button.scss";
@import "modal/modal.scss";
@import "form/form.scss";

.libreta{
    // Variables
    --bgcolor: rgb(224, 224, 224);
    --bgcolor: white;
    --border-card: rgba(0, 0, 0, 0.15);

    // Layout
    min-width: 0;
    max-width: 40em;
    width: 100%;

    // Theme default
    background-color: var(--bgcolor);
    border-radius: 0.35em;
    border: 1px solid var(--border-card);
    box-shadow: 0 0 1px rgba(0,0,0,0.125), 0 1px 3px rgba(0,0,0,0.2);

    &__content{
        // Layout
        margin: 1em;
    }

    &__action{
        //layout 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em;

        .button{
            width: 150px;
            height: auto;
            margin: 0.25em 0.5em;
        }
    }
}

.buttonIco{
    color: #1abc9c;
    margin: 0.2em;

    &--green{
        color: #2ecc71;
    }

    &--yellow{
        color: #f1c40f;
    }

    &--red{
        color: #e74c3c;
    }

    &--orange{
        color: #e67e22;
    }

}

.calc{
    &__input{
        display: block;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid #f1c40f;
        padding: 0 0.2rem;
        min-width: 0;

        height: 42px;
        width: 60px;
        appearance: none;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: 'Poor Story', cursive;
        text-align: center;

        &::placeholder {
            color: #7f8c8d;
            opacity: 1;
        }

        &:focus{
            border: 2px solid #f39c12;
            box-shadow: 0 0 5px #f39c12;
            outline: none;
        }
    }

    &__input[type=number]{
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__text{
        font-family: 'Poor Story', cursive;
        font-size: 1.5rem;
        padding: 0 2px;
    }
}
