.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-image: linear-gradient(#8ec9f1, #0082d8);
    padding-bottom: 8%;
}

.input_log{
    display: flex;
    align-items: center;
}

.form-login{
    // Layout
    width: 90%;
    max-width: 35em;
    display: flex;
    flex-direction: column;

    // Theme
    background-color:#FAFAFA;
    border-radius: 0.5em;
    border: 2px solid #04558B;

    &__title{
        font-size: 48px;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin: 0.3rem;
        border-bottom: 2px solid #04558B;
        text-align: center;
        font-family: 'Strait', sans-serif;
        color: #04558B;

        @media only screen and (max-width: 500px) {
            font-size: 36px;
        }
    }

    &__text{
        font-family: 'Strait', sans-serif;
        text-align: center;
        margin: 1rem 2.2rem;
        margin-bottom: 0;
        color: #34495e;
        font-size: 20px;
    }

    &__form{
        flex: 6;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;


        .error{
            color: #e74c3c;
            font-family: 'Poor Story', cursive;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }

    &__input{
        width: 100%;
        margin: 0.5em 0;
        display: block;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid #04558B;
        padding: 0 0.5rem;
        min-width: 0;

        height: 50px;
        appearance: none;
        cursor: pointer;
        font-size: 1.5em;
        font-family: 'Poor Story', cursive;
        text-align: center;

        &::placeholder {
            color: #7f8c8d;
            opacity: 1;
        }

        &:focus{
            border: 2px solid #023f68;
            box-shadow: 0 0 5px #023f68;
            outline: none;
        }

        &:first-child{
            grid-column: 1 / 4;
        }

        @media only screen and (max-width: 500px) {
            font-size: 20px;
            height: 35px;
        }
    }
}



.icon_log{
    color: #04558B;
    font-size: 30px;
    margin-right: 10px;
    @media only screen and (max-width: 500px) {
        font-size: 20px;
    }
}

.button{
    // layout 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    width: 7.5em;
    height: 2.5em;
    border: 0 solid transparent;
    
    // theme
    outline: none;
    font-size: 1.3rem;
    background-color: #0569ac;
    color: #f0f0f0;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    word-break: break-word;
    overflow: hidden;
    transition: all 0.2s;

    &__ico{
        margin: 0.35em;
    }

    &__text{
        margin: 0.35em;
        text-align: center;
        font-weight: bold;
        font-family: 'Poor Story', cursive;
    }

    &:hover{
        background-color: #04558B;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    }  

    &--green{
        background-color: #27ae60;
        &:hover{
            background-color: #209450;
        } 
    }

    &--yellow{
        background-color: #f39c12;
        &:hover{
            background-color: #ee8b09;
        } 
    }

    &--red{
        background-color: #df4736;
        &:hover{
            background-color: #d12f1c;
        } 
    }


    &-ajuste{
        margin-top: 10px;
        width: 130px;
        height: 42px;
    }
}




// Media querys
@media only screen and (max-width: 500px) {

    .form-login__form{
        grid-template-columns: repeat(1, 1fr);
    }

    .form-login__input:first-child{
        grid-column: 1 / 2;
    }

}

.container-button{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 20px;

    @media only screen and (max-width: 500px){
        grid-template-columns: auto;
    }


    .button{
        width: 130px;
        height: 42px;
    }

    .olvido{
        
        color: #04558B;
        font-size: 1.3rem;
        font-family: 'Poor Story', cursive;
        font-weight: bold;

        &:hover{
            text-decoration: underline;
        }
    }

    .cuenta{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        color: #04558B;
        font-size: 1.3rem;
        font-family: 'Poor Story', cursive;
        font-weight: bold;

        &:hover{
            text-decoration: underline;
        }

        @media only screen and (max-width: 500px){
            grid-row: auto;
            grid-column: auto;
        }
    }
}


.form-register{
    // Layout
    width: 90%;
    max-width: 45em;
    display: flex;
    flex-direction: column;

    // Theme
    background-color:#FAFAFA;
    border-radius: 0.5em;
    border: 2px solid #04558B;

    &__title{
        font-size: 48px;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin: 0.3rem;
        border-bottom: 2px solid #04558B;
        text-align: center;
        font-family: 'Strait', sans-serif;
        color: #04558B;

        @media only screen and (max-width: 500px) {
            font-size: 36px;
        }
    }

    &__text{
        font-family: 'Poor Story', cursive;
        margin: 1rem 2.2rem;
        margin-bottom: 0;
        color: #04558B;
        font-size: 20px;
    }

    &__form{
        flex: 6;
        padding: 1em 2em;
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;

        .input_log{

            display: grid;
            grid-template-columns: 45px auto;
            justify-items: center;

            .icon_log{
                margin: 0;
            }
            

            .error{
                grid-row: 2 / 3;
                grid-column: 1 / 3;
                color: #e74c3c;
                font-family: 'Poor Story', cursive;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            &:nth-child(1){
                grid-column: 1/3;
            }
            &:nth-child(2){
                grid-column: 1/3;
            }
        }
        
        .button{
            grid-column: 1/3;
            justify-self: center;
        }

        @media only screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__input{
        width: 100%;
        margin: 0.5em 0;
        display: block;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid #04558B;
        padding: 0 0.5rem;
        min-width: 0;

        height: 50px;
        appearance: none;
        cursor: pointer;
        font-size: 1.5em;
        font-family: 'Poor Story', cursive;
        text-align: center;

        &::placeholder {
            color: #7f8c8d;
            opacity: 1;
        }

        &:focus{
            border: 2px solid #023f68;
            box-shadow: 0 0 5px #f39c12;
            outline: none;
        }

        &:first-child{
            grid-column: 1 / 4;
        }

        @media only screen and (max-width: 500px) {
            font-size: 20px;
            height: 35px;
        }
    }
}


.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    padding: 0.25rem;
    cursor: pointer;

    &__logo{
        filter: brightness(80%);
        width: 5.5rem;
        margin-right: 5px;
        @media only screen and (max-width: 500px) {
            width: 3.5rem;
        }
    }

    &__title{
        text-align: center;
        font-family: 'Strait', sans-serif;
        color: #04558B;
        font-size: 2.5rem;

        @media only screen and (max-width: 500px) {
            font-size: 2.25rem;
        }
    }
}

.errorcreate{
    grid-column: 1 / 3;
    color: #e74c3c;
    font-family: 'Poor Story', cursive;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}