@import "../button/button.scss";
@import "../selection/selection-theme1.scss";

.form-course{
    // Layout
    width: 90%;
    max-width: 35em;
    display: flex;
    flex-direction: column;

    // Theme
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &__title{
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin: 0.25em;
        border-bottom: 2px solid #f1c40f;
        text-align: center;
        font-family: 'Strait', sans-serif;
        color: #04558B;
    }

    &__content{
        font-size: 24px;
        text-align: center;
        font-family: 'Strait', sans-serif;
        color: #04558B;
    }

    &__form{
        flex: 6;
        padding: 1em 2em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        align-items: center;
    }

    &__input{
        display: block;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid #f1c40f;
        padding: 0 1rem;
        min-width: 0;

        height: 50px;
        appearance: none;
        cursor: pointer;
        font-size: 1.5em;
        font-family: 'Poor Story', cursive;
        text-align: center;

        &::placeholder {
            color: #7f8c8d;
            opacity: 1;
        }

        &:focus{
            border: 2px solid #f39c12;
            box-shadow: 0 0 5px #f39c12;
            outline: none;
        }

        &:first-child{
            grid-column: 1 / 4;
        }
    }

    &__input[type=number]{
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .selection{
        width: auto;
        height: 50px;
        font-size: 1.1em;
    }

    &__actions{
        // layout
        min-width: 0;
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1em;
  
        .button{
            margin: 0.25em 1em;
            font-size: 18px;
        }
    }
}

// Media querys
@media only screen and (max-width: 500px) {

    .form-course__form{
        grid-template-columns: repeat(1, 1fr);
    }

    .form-course__input:first-child{
        grid-column: 1 / 2;
    }

}